In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer_shopping_behaviour.csv")
df.head(5)
#filtering into the data to see the top5 rolls of the data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()
#checking the data information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe(include='all')
# by getting the numerical and categorical columns using the all function

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [5]:
df.isnull().sum()
# checking the missing values from the data

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))
#This formular helps in replacing the missing number with the median of the category the review rating falls in...
# Note: This is not the best practice

df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
# changing of the columns naming to snakecasing type using the underscore between two words and also to lower case
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns ={'purchase_amount_(usd)': 'purchase_amount'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [8]:
# create a new column age_group using the column age
labels = [ 'Young', 'Middle-aged', 'Adult', 'Old Age']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)
# the Q is used to cut the age into 5 different age_group

df[['age', 'age_group']].head(10)

   age age_group
0   55     Adult
1   19     Young
2   50     Adult
3   21     Young
4   45     Adult
5   46     Adult
6   63   Old Age
7   27     Young
8   26     Young
9   57     Adult

In [9]:
# create a column for purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [10]:
#df = df.drop('promo_code_used',axis =1)
# Since the column is not useful for our analysis we had to drop it off
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [11]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\micheal\appdata\local\programs\python\python311\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 25.3
[notice] To update, run: C:\Users\Micheal\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [12]:
import pyodbc
# pyodbc is a python package used to connect data from jupyter notebook to different databases platform

In [13]:
pyodbc.drivers()
# checking the drivers within the package

['SQL Server',
 'SQL Server Native Client 11.0',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [21]:
# Codeline for the connection to the database created on mssql using driver
conn = pyodbc.connect(
    Trusted_Connection="Yes",
    Driver="{ODBC Driver 17 for SQL Server}",
    Server="IMORU",
    Database="Test_DB"
)
# Imitializing the cursor
cursor = conn.cursor()

In [23]:
df.head(10)
#  my data filtering the first 10 rows across the columns

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Adult,14.0
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young,14.0
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Adult,7.0
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young,7.0
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Adult,365.0
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly,Adult,7.0
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly,Old Age,90.0
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly,Young,7.0
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually,Young,365.0
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly,Adult,90.0

In [42]:
# creating the table columns into the database and also defining the datatype for each column
cursor.execute("""
CREATE TABLE Customer_shopping_behaviour (
    customer_id INT,
    age INT,
    gender VARCHAR(50),
    item_purchased VARCHAR(50),
    category VARCHAR(50),
    purchase_amount INT,
    location VARCHAR(50),
    size VARCHAR(10),
    color VARCHAR(50),
    season VARCHAR(50),
    review_rating FLOAT,
    subscription_status VARCHAR(10),
    shipping_type VARCHAR(50),
    discount_applied VARCHAR(10),
    promo_code_used VARCHAR(10),
    previous_purchases INT,
    payment_method VARCHAR(50),
    frequency_of_purchases VARCHAR(50),
    age_group VARCHAR(50),
    purchase_frequency_days FLOAT
)
""")
conn.commit()

In [44]:
#Initializing and specifying the database created to be used
cursor.execute("USE Test_DB")

In [45]:
# verify the table creation
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Customer_shopping_behaviour'")
print(cursor.fetchall())

[('Test_DB', 'dbo', 'Customer_shopping_behaviour', 'BASE TABLE')]

In [46]:
# itertuples() is a method in Pandas that allows you to iterate over the rows of a DataFrame as named tuples.
# we want to interate the data in dataframe and store it into each column in the database 
for row in df.itertuples(index=False):
    cursor.execute("""
            INSERT INTO Test_DB.dbo.Customer_shopping_behaviour(
                customer_id,
                age,
                gender,
                item_purchased,
                category,
                purchase_amount,
                location,
                size,
                color,
                season,
                review_rating,
                subscription_status,
                shipping_type,
                discount_applied,
                promo_code_used,
                previous_purchases,
                payment_method,
                frequency_of_purchases,
                age_group,
                purchase_frequency_days)
            VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",
            row.customer_id,
            row.age,
            row.gender,
            row.item_purchased,
            row.category,
            row.purchase_amount,
            row.location,
            row.size,
            row.color,
            row.season,
            row.review_rating,
            row.subscription_status,
            row.shipping_type,
            row.discount_applied,
            row.promo_code_used,
            row.previous_purchases,
            row.payment_method,
            row.frequency_of_purchases,
            row.age_group,
            row.purchase_frequency_days)
conn.commit()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 23 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [47]:
# An error was encountered on the above code due to the column "purchase_frequency_days" having Invalid entries/datatype
# This codeline was used to detect that by using the function "unique"
print(df['purchase_frequency_days'].unique())

[ 14.   7. 365.  90.  nan  30.]

In [50]:
# Convert the 'purchase_frequency_days' column to numeric values.
# Invalid entries (e.g., strings like 'N/A' or missing data) are replaced with NaN.
df['purchase_frequency_days'] = pd.to_numeric(df['purchase_frequency_days'], errors='coerce')

# All NaN values in the column were replaced with 0.0 to ensure compatibility with SQL float type.
df['purchase_frequency_days'] = df['purchase_frequency_days'].fillna(0.0)

In [51]:
# The codeline fixed and it ran well
for row in df.itertuples(index=False):
    cursor.execute("""
            INSERT INTO Test_DB.dbo.Customer_shopping_behaviour(
                customer_id,
                age,
                gender,
                item_purchased,
                category,
                purchase_amount,
                location,
                size,
                color,
                season,
                review_rating,
                subscription_status,
                shipping_type,
                discount_applied,
                promo_code_used,
                previous_purchases,
                payment_method,
                frequency_of_purchases,
                age_group,
                purchase_frequency_days)
            VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",
            row.customer_id,
            row.age,
            row.gender,
            row.item_purchased,
            row.category,
            row.purchase_amount,
            row.location,
            row.size,
            row.color,
            row.season,
            row.review_rating,
            row.subscription_status,
            row.shipping_type,
            row.discount_applied,
            row.promo_code_used,
            row.previous_purchases,
            row.payment_method,
            row.frequency_of_purchases,
            row.age_group,
            row.purchase_frequency_days)
conn.commit()